@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">您是当前 @ViewData["num"]  位访客</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
